.main-content {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;

  .slide {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.dishlist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
